html, body {
    height: 100%;
}

body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.chose-number-of-soldiers {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
.chose-number-of-soldiers .checkbox {
    font-weight: 400;
}
.chose-number-of-soldiers .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.chose-number-of-soldiers .form-control:focus {
    z-index: 2;
}
.chose-number-of-soldiers input[type="number"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.start-new-game {
    max-width: 1260px;
    padding: 15px;
    margin: auto;
    text-align: left;
}